html, body {
    background-color: #242629;
    background-image: url('background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin: 0px;
    overflow: hidden;
    }